.container {
	width: 1000px;
	margin: 0 auto;
	background: #C7D9DA;
	min-height: 1200px;

}

#header img{
	padding: 1em;
	background: #fff;
	height: 250px;
	display: block;
	margin-left: 40px;
}
body{
	background: ;
}
#header{
	padding-top: 20px;
}

#footer{
	min-height: 70px;
}
#content{
font-size: 100%;
font-family: Georgia;
padding: 25px;
background: #fff;
margin: 60px 40px 140px;

}
.foot>li>a{
	font-size: auto;
	font-size: 15px;
}

a{
	color: #1E90FF;
	text-decoration: none;
}
li a{
	color: #ffffff;
	text-decoration: none;
}
a:hover{
	color: #8B0000;
	text-decoration: underline;
}
a:visited{
	color: #DC143C;
	text-decoration: none;
}
a:active{
	color: #4169E1;
	text-decoration: underline;
}

.users a{
	color: #1E543B;
}

.users a:hover{
	color: #3C6A8D;
	text-decoration: underline;
}
.users a:visited{
	color: #1E543B;
	text-decoration: none;
}

a.signup_button{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 180px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
	display: block;
	margin-top: 100px;

}
li:hover>a{
	color: #8B0000;
}
li:active>a{
	color: #8FDFB9;
}

/*Error Message*/

.fieldWithErrors{
	/*padding: 1px;*/
	/*background-color: red;*/
	display: table;
}

.fieldWithErrors>input{
	border: 1px solid red;
	padding: 3px;
}

.fieldWithErrors label{
	/*color: #fff;*/
}

#errorExplanation{
	width: 500px;
	border: 2px solid #9C3342;
	/*padding: 9px;*/
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	min-height: 30px;
	/*overflow: auto;*/
}

#errorExplanation p{
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li{
	font-size: 12px;
	list-style: none;
	color: #9C3342;
}

#errorExplanation ul{
	width: 90%;
	background: none;
	border: none;
	/*background-color: #9C3342;*/
	height: auto;
	min-height: 10px;
	overflow: auto;
}

/*User list page*/
ul.users{
	margin-top: 1em;
}

.users li{
	list-style: none;
}

/*Microposts*/

h2.micropost{
	margin-bottom: 0;
}

table.microposts tr{
	height: 70px;
}

table.microposts tr td.gravatar{
	border-top: 1px solid #ccc;
	vertical-align: top;
	width: 50px;
}

table.microposts tr td.micropost{
	border-top: 1px solid #ccc;
	vertical-align: top;
	padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp{
	display: block;
	font-size: 85%;
	color: #666;
}

div.user_info img{
	padding-right: 0.1em;
}

div.user_info a{
	text-decoration: none;
}

div.user_info span.user_name{
	position: absolute;
}

div.user_info span.microposts{
	font-size: 90%;
}

form.new_micropost{
	margin-bottom: 2em;
}

form.new_micropost textarea{
	height: 4em;
	margin-bottom: 0;
}

#span2{
	padding: 30px;
}


