<% logger.info "current_user ....... #{current_user.inspect}"%>
<% logger.info "@user ....... #{@user.inspect}"%>
<% form_remote_for current_user.relationships.build(:followed_id => @user.id) do |f| %>
<div><%= f.hidden_field :followed_id, :value=>@user.id %></div>
<div class = "actions"><%= f.submit "Follow" %></div>
<% end %>	