	<h1>Home page </h1>
		<p>
			<%= @hometext  %><br>
			"<%= @title %>" is the text used for the title parameter in the pages_controller (Action page)<br>
			Contact Ruby on Rails tutorial about the sample app at
			<a href = "http://www.railstutorial.org/feedback"> feedback page</a>
		</p>
