<div id="footer">
	<ul class="navigation round foot">
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "News", 'http://news.railstutorial.org/' %></li>
		<li><%= link_to "Rails Tutorials", 'http://www.railstutorial.org/' %></li>